[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target

[Service]
Type=notify
NotifyAccess=main
EnvironmentFile=-/etc/sysconfig/docker
ExecStart=/usr/bin/docker daemon

ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
